{% extends 'BaseTemplate.html' %}

{% block body %}
    <form class="form-horizontal" method="post">
        <fieldset>

            <legend>Login form</legend>

            {% if error %}
                <p>{{ error }}</p>
            {% endif %}

            <div class="form-group">
                <label class="col-md-4 control-label" for="login">Login</label>
                <div class="col-md-4">
                    <input id="login" name="login" type="text" placeholder="Enter your login"
                           class="form-control input-md" required="true" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="Enter a password"
                           class="form-control input-md" required="true" />

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
